
#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = to.foss.peerdrop
COMBINE_HIDPI_IMAGES = YES
CURRENT_PROJECT_VERSION = 4
MARKETING_VERSION = 0.4.0
ENABLE_HARDENED_RUNTIME = YES
ENABLE_PREVIEWS = YES
SWIFT_EMIT_LOC_STRINGS = YES
ARCHS = arm64
VALID_ARCHS = arm64
EXCLUDED_ARCHS = x86_64
MACOSX_DEPLOYMENT_TARGET = 13.0


