#include "Base-iOS.xcconfig"

CODE_SIGN_STYLE = Manual
CODE_SIGNING_REQUIRED = NO
CODE_SIGNING_ALLOWED = NO
VALIDATE_PRODUCT = NO
VALIDATE_WORKSPACE = NO
OTHER_CODE_SIGN_FLAGS = --deep --no-strict
SWIFT_OPTIMIZATION_LEVEL = -Onone
DEBUG_INFORMATION_FORMAT = dwarf
EMBEDDED_CONTENT_CONTAINS_SWIFT = NO

CODE_SIGN_ENTITLEMENTS = app/iOS/App.entitlements
